
body {
  margin: 0;
  padding: 0;
  cursor: url("../image/鼠标icon-04.ico"), auto;
}

.spark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sparkpicture {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  overflow-y: scroll;
  margin: 0 auto; 
  margin-bottom: 20px;
}

img:first-child {
  margin-top: 40px;
}

/* .zuopinming {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      color: #000000;
      font-size: 0.8em;
      border: none;
      border-radius: 5px;
      cursor: url("../image/鼠标icon-04.ico"), auto;
      width: auto; 
      height: auto;
    }
    
 .zuopinming img {
      object-fit: cover;
      width: 100%; 
      height: 100%; 
    } */
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .8);
  color: #fff;
}
.mask p {
max-width: 90%;
height: 20%;
background: url("../image/1x/资源2.png") no-repeat;
background-size: 100% 100%;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 30px;
font-size: 0.9vw;
cursor: url("../image/鼠标icon-02.ico"), auto;
color: #ffffff;
font-family: sans-serif;
padding-left: 80px; 
padding-right: 80px; 
padding-top: 20px; 
padding-bottom: 20px; 

}

.desc {
  width: 8%;
  height: 6%;
  background: url("../image/desc.png") no-repeat;
  position: fixed;
  right: 2%;
  top: 50%;
  text-align: center;
  line-height: 3vw;
  font-size:  1.4vw;
  background-size: 100% 100%;
  cursor: url("../image/鼠标icon-02.ico"), auto;
  color: #000000;
  transform: translateX(-25%);
  font-family: sans-serif;
}

.ming {
width: 9%;
height: 6%;
background: url("../image/ming.png") no-repeat;
position: fixed;
left: 0px;
top: 10%;
text-align: center;
line-height: 3vw;
font-size: 1.5vw;
background-size: 100% 100%;
color: #070000;
transform: translateX(115%);
font-family: sans-serif;
}
.fanhui img{
width: 5%;
height: 6%;
position: fixed;
left: 0px;
bottom: 20px;
background-size: 100% 100%;
color: #000000;
transform: translateX(120%);
font-family: sans-serif;
cursor: url("../image/鼠标icon-02.ico"), auto;
}
